@import url("https://fonts.googleapis.com/css?family=Staatliches");
@import url("https://fonts.googleapis.com/css?family=Orbitron");

html, body {
    background-color: #000000;
}

html {
  font-size: 100%;
}

img {
    max-width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.text {
    display: flex;
    flex-flow: column;
    color: #ffffff;
    font-family: Staatliches;
    font-size: 32px;
    text-decoration: none;
    justify-content: space-between;
    margin: auto;
}

.covers {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 2em;
}

.footer {
    background: #000000;
}

.nav {
    display: flex;
    background-color: #000000;
    font-family: Staatliches;
    font-size: 18px;
    text-decoration: none;
    justify-content: space-between;
    padding: 0% 1% 0% 0%;
  }
  
  ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #222222;
    opacity: 1;
    transition: 0.3s;
  }

div.social-media {
    text-align: center;
    padding: 3em;
}

img.media-buttons {
    height: auto;
    width: 5%;
    padding: 2%;
}

#insta {
    height: auto;
    width: 5%;
}

#twit {
    height: auto;
    width: 5%;
}

#spot {
    height: auto;
    width: 5%;
}

#sound {
    height: auto;
    width: 5%;
}


/* MOBILE CONFIGURATION */

@media only screen and (max-width: 768px) {

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

.urlogo {
    height: auto;
    width: 25%;
    padding: 10% 0% 5% 0%;
}

.cover_art {
    display: none;
}

img.cover_art {
    display: none;
}

img.media-buttons {
    display: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.home {
    height: auto;
    width: 5%;
    padding: 5%;
}

.members {
    height: auto;
    width: 7%;
    padding: 3.5%;
}

.connect {
    height: auto;
    width: 5%;
    padding: 5%;
}

.nav {
    display: none;
}

.artist-grid {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

}

/* TABLET CONFIGURATION */


@media only screen and (min-width: 640px) {



    .home {
        height: auto;
        width: 4%;
        padding: 6%;
    }

    .members {
        height: auto;
        width: 5%;
        padding: 5%;
    }
    
    .connect {
        height: auto;
        width: 4%;
        padding: 6%;
    }
}

/* DESKTOP CONFIGURATION */

@media only screen and (min-width: 768px) {

html {
    background: none;
}

body {
  background: #000000;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.grid-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.urlogo {
    height: auto;
    width: 20%;
    align-items: center;
    padding: 6% 0% 3% 0%;
}

.nav {
    display: flex;
}

.gridcovers {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .4s ease-in-out;  
}

.gridcovers:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.1);
}

.media-buttons {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .4s ease-in-out;  
}

.media-buttons:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.1);
}

.artist-grid {
    display: flex;
    flex-flow: row wrap;
    padding-top: 3rem;
}

.footer {
    display: none;
}

img.cover_art {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 75%;
}

}
/* ARTIST LOGOS */
img.cardinalsin {
    height: 55px;
    width: 55px;
    padding: 0em 2em;
  }
  
  img.catullus {
    height: 45px;
    width: 65px;
    padding: 0em 2em;
  }
  
  img.jamescliff {
    height: 55px;
    width: 55px;
    padding: 0em 2em;
  }
  
  img.locke {
    height: 70px;
    width: 30px;
    padding: 0em 2em;
  }
  
  img.nahom {
    height: 55px;
    width: 55px;
    padding: 0em 2em;
  }


@media only screen and (min-width: 1024px) {

.covers {
    padding: 2% 10% 0% 10%;
}

}