/*@import url("https://fonts.googleapis.com/css?family=Staatliches");
@import url("https://fonts.googleapis.com/css?family=Orbitron");*/

@font-face {
    font-family: "Karla-Regular";
    src: url("./media/fonts/karla/Karla-Regular.woff2") format("woff2"),
         url("./media/fonts/karla/Karla-Regular.woff") format("woff");
  }

@font-face {
    font-family: "Karla-Bold";
    src: url("./media/fonts/karla/Karla-Bold.woff2") format("woff2"),
         url("./media/fonts/karla/Karla-Bold.woff") format("woff");
  }
@font-face {
    font-family: "Staatliches-Regular";
    src: url("./media/fonts/staatliches/Staatliches-Regular.woff2") format("woff2"),
         url("./media/fonts/staatliches/Staatliches-Regular.woff") format("woff");
  }

html, body {
    background-color: #000000;
    overflow-x: hidden; overflow-y: auto;
}

html {
  font-size: 100%;
}

img {
    max-width: 100%;
}

p {
    font-family: "Karla-Regular", sans-serif;
}

h1 {
    font-family: "Karla-Bold", sans-serif;
    text-align: center;
    font-size: 135%;
}

.gridcovers {
    cursor: pointer;
}

.button {
  font-family: "Karla-Bold", sans-serif;
  background-color: rgb(50, 50, 50);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  cursor: pointer;
  height: 6vh;
}

.links {
  font-family: "Karla-Bold", sans-serif;
  background-color: rgb(30, 30, 30);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  cursor: pointer;
  font-size: 100%;
}

.intro {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 2em 6em 1em 6em;
    color: #ffffff;
    line-height: 28px;
    font-size: 16px;
}

.connect-text {
    display: grid;
    grid-gap: 15px;
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
    padding: 2em 6em 1em 6em;
    color: #ffffff;
    line-height: 28px;
    font-size: 16px;
}

.track-title {
    display: grid;
    color: #ffffff;
    line-height: 24px;
    font-size: 14px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.text {
    display: flex;
    flex-flow: column;
    color: #ffffff;
    font-family: "Staatliches-Regular", sans-serif;
    font-size: 32px;
    text-decoration: none;
    justify-content: space-between;
    margin: auto;
}

.covers {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    padding: 3.5em;
    overflow: hidden;
}

.footer {
    background: #000000;
    overflow: hidden;
}

.nav {
    display: flex;
    background-color: #000000;
    font-family: "Staatliches-Regular", sans-serif;
    font-size: 18px;
    text-decoration: none;
    justify-content: space-between;
    padding: 0% 1% 0% 0%;
  }
  
  ul.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #222222;
    opacity: 1;
    transition: 0.3s;
  }

div.social-media {
    text-align: center;
    padding: 3em;
}

img.media-buttons {
    height: auto;
    width: 35%;
}

img.lg-media-buttons {
    height: auto;
    width: 15%;
    padding: 20% 5% 0% 5%;
}

#insta {
    height: auto;
    width: 15%;
}

#twit {
    height: auto;
    width: 15%;
}

#spot {
    height: auto;
    width: 15%;
}

#sound {
    height: auto;
    width: 15%;
}


/* MOBILE CONFIGURATION */

@media only screen and (max-width: 1024px) {

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

.urlogo {
    height: auto;
    width: 25%;
    padding: 7% 0% 0% 0%;
}

.intro {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 2em 3.5em 1em 3.5em;
    color: #ffffff;
    line-height: 28px;
    font-size: 16px;
}

.connect-text {
    padding: 2em 3.5em 1em 3.5em;
}

.cover_art {
    display: none;
}

img.cover_art {
    display: none;
}

.covers {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    padding: 3.5em;
}

img.media-buttons {
    display: none;
}

img.connect-media-buttons {
    filter: gray;
    -webkit-filter: grayscale(1);
    height: auto;
    width: 10%;
    padding: 5% 5% 20% 5%;
}

p.social-footer-text {
    display: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.home {
    height: auto;
    width: 5%;
    padding: 5%;
}

.members {
    height: auto;
    width: 7%;
    padding: 3.5%;
}

.connect {
    height: auto;
    width: 5%;
    padding: 5%;
}

.nav {
    display: none;
}

.social-media-children {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
}

.social-media-children:hover {
    filter: none;
      -webkit-filter: grayscale(0);
}

.artist-grid {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50%;
}

.artist-grid-children {
    padding: 10% 10% 0% 10%;
}    

}

/* TABLET CONFIGURATION */


/*@media only screen and (min-width: 640px) {*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {

    .covers {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto, minmax(200px, 1fr));
        padding: 3.5em;
    }

    .home {
        height: auto;
        width: 4%;
        padding: 6%;
    }

    .members {
        height: auto;
        width: 5%;
        padding: 5%;
    }
    
    .connect {
        height: auto;
        width: 4%;
        padding: 6%;
    }
}

/* DESKTOP CONFIGURATION */

@media only screen and (min-width: 768px) {

html {
    background: none;
}

body {
  background: #000000;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.grid-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.urlogo {
    height: auto;
    width: 20%;
    align-items: center;
    padding: 6% 0% 3% 0%;
}

.nav {
    display: flex;
}

.track-title {
    filter: gray;
    -webkit-filter: grayscale(1);
    transition: all .4s ease-in-out;  
    -webkit-transition: all .4s ease-in-out;  
}

.track-title:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.07);
      transform: scale(1.07);
}

.media-buttons {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    transition: all .4s ease-in-out;  
    -webkit-transition: all .4s ease-in-out;  
}

.media-buttons:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.35);
      transform: scale(1.35);
}

.social-media-children {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .4s ease-in-out;  
    transition: all .4s ease-in-out;  
}

.social-media-children:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
}

.artist-grid-children {
    -webkit-transition: all .4s ease-in-out;  
    transition: all .4s ease-in-out;  
}

.artist-grid-children:hover {
    filter: none;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
}

.artist-grid {
    display: flex;
    flex-flow: row wrap;
    padding-top: 3rem;
}

.footer {
    display: none;
}

img.cover_art {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 75%;
}

.social-media {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

img.lg-media-buttons {
    height: auto;
    width: 35%;
    padding: 20% 5% 0% 5%;
}

}

/* ARTIST LOGOS */
img.cardinalsin {
    height: 55px;
    width: 55px;
    padding: 0em 2em;
  }
  
  img.catullus {
    height: 45px;
    width: 65px;
    padding: 0em 2em;
  }
  
  img.jamescliff {
    height: 55px;
    width: 55px;
    padding: 0em 2em;
  }
  
  img.locke {
    height: 70px;
    width: 30px;
    padding: 0em 2em;
  }
  
  img.nahom {
    height: 55px;
    width: 55px;
    padding: 0em 2em;
  }

.links {
  font-family: "Karla-Bold", sans-serif;
  background-color: rgb(30, 30, 30);
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  cursor: pointer;
  font-size: 100%;
  width: 20%;
}  


@media only screen and (min-width: 1024px) {

.covers {
    padding: 2% 10% 0% 10%;
}

.intro {
    padding: 2em 10em 1em 10em;
}

.connect-text {
    padding: 2em 10em 1em 10em;
}

img.connect-media-buttons {
    display: none;
}

}

@media only screen and (min-width: 320px) {
   
    .links {
        width: 30%;
    }

}