html,
body {
  background: #111;
  overflow-x: hidden;
}

img.cardinalsin {
  height: 55px;
  width: 55px;
  padding: 2em;
}

img.catullus {
  height: 45px;
  width: 255px;
  padding: 2em;
}

img.jamescliff {
  height: 55px;
  width: 55px;
  padding: 2em;
}

img.locke {
  height: 70px;
  width: 30px;
  padding: 2em;
}

img.nahom {
  height: 55px;
  width: 55px;
  padding: 2em;
}
